*{
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;

}

/*https://www.magicpattern.design/tools/css-backgrounds*/
body {
    /*background-image: url("https://static.thenounproject.com/png/1111905-200.png");*/
    /*background-color: #f9f9f9;*/
    /*opacity: 1;*/
    /*background: radial-gradient(circle, transparent 20%, #f9f9f9 20%, #f9f9f9 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #f9f9f9 20%, #f9f9f9 80%, transparent 80%, transparent) 47.5px 47.5px, linear-gradient(rgba(201, 242, 242, 0.4) 3.8000000000000003px, transparent 3.8000000000000003px) 0 -1.9000000000000001px, linear-gradient(90deg, rgba(201, 242, 242, 0.4) 3.8000000000000003px, #f9f9f9 3.8000000000000003px) -1.9000000000000001px 0;*/
    /*background-size: 95px 95px, 95px 95px, 47.5px 47.5px, 47.5px 47.5px;*/
    background-image: url('../img/bg/background_gradient_2.png');
    background-repeat: no-repeat;
    background-size: 200%;
}

#main{
    /*background-color: rgba(201, 243, 243, 0.2);*/
    background-color: rgba(154, 250, 250, 0.2);
    border-radius: 10px;
    width: 1000px;
    height: 615px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0;
    box-sizing: border-box;
}

/* Inside of Main*/
#logo {
    height: 70px;
    text-align: center;
}

#logo > img{
    height: 65px;
}

#indexImg > img {
    position: relative;
    right: 260px;
    bottom: 240px;
    height: 500px;
}

#indexImg2 > img {
    position: relative;
    right: -300px;
    /*bottom: 320px;*/
    top: 170px;
    height: 200px;
}

.leftbody, .rightbody, #wholebody{
    height: 565px;
}

.part-dec{
    padding: 20px;
    background-color: rgba(232, 99, 138, 0.2);
    border-radius: 5px;
    opacity: 1;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
    box-sizing: border-box;
}

.part-dec > h2{
    text-align: center;
}


/*ready button at the bottom*/
.centerbBtn{
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 4%;
    font-family: Arial, Helvetica, sans-serif;
}

/* https://getcssscan.com/css-buttons-examples - button 6*/
/* CSS */

/* CSS */
button {
  align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  /*font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  font-weight: 600;
  justify-content: center;
  line-height: 0.5;
  margin: 2px;
  min-height: 0.8rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
    background: rgba(200, 233, 233, 1);
}

button:active{
background-color: rgba(238, 255, 255, 0.911);
  border-color: rgba(0, 0, 0, 0.185);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

button:disabled {
    opacity: 50%;
}

/* - - - - - - - - - - - - - - -  whole body container - - - - - - - - - - - - - - -  */
/* index.html */

#wholebody{
    position: relative;
    text-align: center;
    height: 86.5%;
}

#wholebody >h1,h2{
    padding: 20px;
}

/* final.html */

#wholebody > img{
    height: 85%;
}

#indexBtn {
    position: relative;
    bottom: 2px;
    padding: 11px 10px;
}

#wholebody2 {
    position: relative;
    text-align: center;
    height: 82%;
}

#main2 {
    background-color: rgba(154, 250, 250, 0.2);
    border-radius: 10px;
    width: 500px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0;
    box-sizing: border-box;
}

#main3 {
    background-color: rgba(154, 250, 250, 0.2);
    border-radius: 10px;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.1) 0 1px 3px 0;
    box-sizing: border-box;
}

#wholebody3 {
    position: relative;
    text-align: center;
    height: 70%;
}

.finalBtn {
    position:relative;
    top:10px;
}

/* - - - - - - - - - - - - - - -  leftbody container - - - - - - - - - - - - - - -  */
#canvaContainer{
    height: 80%;
    position: relative;
}

#canvaContainer > h2 {
    padding: 0;
    text-align: center;
}

/* DRAWING.HTML */
#canvaContainer > #myCanvas{

    /*height: 91.5%;*/
    /*width: 94.5%;*/
    height: 420px;
    width: 690px;
    background-color: rgb(255, 255, 255);

    position: absolute;
    z-index: 0;
}

/*#canvaContainer > #secondCanvas{*/
/*    height: 91.5%;*/
/*    width: 94.5%;*/
/*    background-color: rgb(255, 255, 255);*/

/*    !*position: absolute;*!*/
/*    !*z-index: 1;*!*/
/*}*/

#canvaContainer > #mark {
    position: absolute;
    z-index: 1;
}

#mark {
    pointer-events: none;
}

#markBtn {
    position: relative;
    margin-right: -125px;

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}
#markLabel {
    position: relative;
    left: 190px;
    bottom: 2px;
    font-weight: bold;
}

input[type=checkbox] {
    transform: scale(2.3);
    filter: invert() brightness(2.9) saturate(0.15) hue-rotate(110deg);

}

input[type=slider] {
}

#toolContainer{
    height: 14%;
}

/* SETTING.HTML */
#settingContainer {
    position: relative;
    height: 94%;
    text-align: center;
}

#settingContainer > h2{
    padding-bottom: 10px;
}

/*#settingForm > h4{*/
/*    padding-top: 20px;*/
/*}*/

#settingForm {
    position: relative;
    top: 20px;
}

#settingTime {
    position:relative;
    left: 20px;
}

#invite{
    padding: 40px;
    position: relative;
    top: 40px;
}

#invite > input{
    width: 300px;
    text-align: center;
}

#inviteText {
    position: relative;
    right: 14px;
}

span{
    color:#000000;
}

.headerText {
    text-shadow: 1px 1px 2px #999999;
}

#startBtn{
    font-size: 14pt;
    padding: 24px 22px;
    top: 15%;
}

.title-right {
    float: right;
}

.title-left {
    display: inline;
}

.circle{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    height: 120px;
    width: 120px;
    font-size:15px;
    font-weight: bold;
    color:#e83b80;
    text-align:center;
    line-height:20px;
    border-radius:50%;
    padding: 19% 0;
    background:rgba(201, 243, 243, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.75);
}

.circle:hover{
    background-color: rgba(238, 255, 255, 0.511);
    border-color: rgba(0, 0, 0, 0.185);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.kickBtn{
    background: #ffffff;
    color: #ff0000;
    padding:0 5px;
    margin-bottom: 0;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.kickBtn:hover{
    background: #ff0000;
    color: #fff;
}

/* - - - - - - - - - - - - - - -  rightbody container - - - - - - - - - - - - - - -  */
#sidebar{
    position: relative;
    height: 94%;
    text-align: center;
}

#sidebar > h2{
    padding: 5px;
}

.body{
    position: relative;
    text-align: center;
}

.body > img{
    width: 100%;
    display: block;
    border-radius: 5px;
}

.body > span{
    position: absolute;
    top: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    border-radius: 5px;

    /*font-weight: bold;*/

    background-color: rgba(201, 243, 243, 0.75);
}

.greyout{
    /*-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);*/
    filter: grayscale(100%); 
}

.ready{
    filter: hue-rotate(90deg);
}

.painting{
   position: absolute;
   top: 60%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   align-items: center;
   background-color: rgba(255,255,255,0.75);
    font-weight: bold;
 }

/* Creating the dots */
.painting > span{
    animation: loading 2s linear infinite;
  }

/* waiting .. animation */
.waiting > span{
    animation: loading 2s linear infinite;
}

/* Creating the loading animation*/
 @keyframes loading {
    0%,100%{ opacity: 0;}
    50% {opacity: 1;}
}

span:nth-child(1){
   animation-delay: 0.1s;
 }
 span:nth-child(2){
   animation-delay: 0.9s;
 }
 span:nth-child(3){
   animation-delay: 1.5s;
 }
 
 select, input{
    background:rgba(201, 243, 243, 0.5);
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
 }

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    /*-khtml-user-select: none; !* Konqueror HTML *!*/
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.buttons:active {
    filter: invert(69%);
}

.buttons {
    position: relative;
    left: 10px;
    bottom: 5px;
    padding-right: 20px;
}

#sliderBtn {
    position: relative;
    padding-right: 20px;
}

#redoBtn {
    left: -5px;
}

#colorpickerBtn {
    position: relative;
    top: 5px;
}